body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
   background-color: rgb(44, 43, 43);
   color: white;
}
 
.container{
    width: 100%;
   position: absolute;
   top: 50%;
   text-align: center;
   transform: translateY(-50%);
}
.container h1{
    font-size: 180px;
    margin: 0;
    font-weight: 1200;
    letter-spacing: 20px;
    background: url(./images/winter\ .jpeg);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}
.container a{
    text-decoration: none;
    background: rgb(122, 91, 12);
    color: white;
    padding: 12px 24px;
    border-radius: 20px;
    font-size: 14px;
    transition: 0.4s;
}

.container a:hover{
    background: rgb(227, 180, 62);
}